{% extends "base.html.twig" %}

{% block content %}
    <h1>{{ content.title }}</h1>

    {{ content.article|raw }}
    <h2>Final detail</h2>
    <h4>menu level 2</h4>
    <ul>
    {% for item in sulu_navigation_root_tree('main', 2) %}
    <li>
        <a href="{{ sulu_content_path(item.url) }}"
            title="{{ item.title }}">{{ item.title }}</a>
        {% if item.children|length > 0 %}
            <ul>
            {% for child in item.children %}
                <li><a href="{{ sulu_content_path(child.url) }}"
                        title="{{ child.title }}">
                    {{ child.title }}
                </a></li>
            {% endfor %}
            </ul>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}
