{% extends "base.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col">
            <h2 class="mt-4 mb-4">{{ content.title }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ content.article | raw }}
        </div>
    </div>
{% endblock %}

{% block aside %}
    <ul>
        {% for item in sulu_navigation_root_tree('main', 1) if item.children | length > 0 %}
            {% for child in item.children %}
                <li>
                    <a href="{{ sulu_content_path(child.url) }}"title="{{ child.title }}">
                        {{ child.title }}
                    </a>
                </li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endblock %}
