{% extends "base.html.twig" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-2">
                <aside>
                    <ul class="nav">
                        {% for item in sulu_navigation_tree(uuid) %}
{#                            {% for child in item.children %}#}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ sulu_content_path(item.url) }}">
                                    {{ item.title }}
                                </a>
                            </li>
{#                            {% endfor %}#}
                        {% endfor %}
                    </ul>
                </aside>
            </div>
            <div class="col-10">
                <section>
                    <h2 class="mt-4 mb-4">{{ content.title }}</h2>
                    {{ content.article | raw }}
                    <p class="lead">
                        {{ content.url }}<br>
                        {{ uuid }}
                    </p>
                    {{ dump(sulu_navigation_tree(uuid)) }}

                </section>
            </div>
        </div>
    </div>
{% endblock %}
