<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="www.flux.cat">
    <meta name="copyright" content="Jaume Vidal Arasa">
    {% block meta %}
        {% include "@SuluWebsite/Extension/seo.html.twig" with {
            'seo': extension.seo | default([]),
            'content': content | default([]),
            'urls': urls | default([]),
            'shadowBaseLocale': shadowBaseLocale | default(),
            'defaultLocale': app.request.locale
        } %}
    {% endblock %}
    {% block style %}{{ encore_entry_link_tags('app') }}{% endblock %}
</head>
<body>
<a href="/"><img class="mx-auto d-block img-fluid" src="{{ asset('build/app/img/header-rocks.jpg') }}" alt="logo"></a>
<div class="container mb-5">
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-5 mb-5 base-layout">JAUME VIDAL ARASA</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <header class="base-layout">
                {% block header %}
                    <nav class="nav nav-fill">
                        {% if template is defined %}
                            {% if template != constant('\\App\\Enum\\PageTemplateEnum::LEVEL_2') %}
                                {% set item_path = content.url %}
                            {% else %}
                                {% set splitted_path_array = content.url | split('/') %}
                                {% set item_path = '/' ~ splitted_path_array[1] %}
                            {% endif %}
                        {% else %}
                            {% set item_path = '/' %}
                        {% endif %}
                        {% for item in sulu_navigation_root_tree('main') %}
                            <a class="nav-item nav-link{% if sulu_navigation_is_active(item.url, item_path) %} active{% endif %}" href="{{ sulu_content_path(item.url, item.webspaceKey) }}">
                                {{ item.title }}
                            </a>
                        {% endfor %}
                    </nav>
                {% endblock %}
            </header>
        </div>
    </div>
</div>
{% block content %}{% endblock %}
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <footer class="m-0 p-5 base-layout">
                {% block footer %}
                    <nav class="nav justify-content-center d-flex">
                        <a class="nav-item pt-0 pr-4 pb-0 pl-4" href="https://www.facebook.com/jaumevidalarasa" target="_blank">
                            <i class="fab fa-facebook-square"></i> facebook
                        </a>
                        <a class="nav-item pt-0 pr-4 pb-0 pl-4" href="https://twitter.com/jaumevidalarasa" target="_blank">
                            <i class="fab fa-twitter-square"></i> twitter
                        </a>
                    </nav>
                {% endblock %}
            </footer>
        </div>
    </div>
</div>
{% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
{% if google_analytics_active %}
    <script async src="//www.googletagmanager.com/gtag/js?id={{ google_analytics_api_key }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ google_analytics_api_key }}');
    </script>
{% endif %}
</body>
</html>
